<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#" method="post">
        <div>
            <label for="name">Enter Your Name</label>
            <input type="text" id="name" placeholder="enter name" name="name">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" id="email" placeholder="enter name email" name="email">
        </div>
        <div>
            <label for="age">Age</label>
            <input type="number" id="age" placeholder="age" name="age">
        </div>
        <div>
            <label for="city">Citye</label>
            <input type="text" id="city" placeholder="city name" name="city">
        </div>
        <div>
            <label for="profession">Profession</label>
            <input type="text" id="profession" placeholder="profession" name="profession">
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>